.btn-menu { background:url(icon-menu.png) no-repeat 2px 2px; padding:14px; }
.sidebar-toggle { position:absolute; left:8px; top:38px; z-index:6888; width:32px; height:32px; }
.sidebar { position:absolute; z-index:6666; top:30px; left:0; width:300px; background:rgba(200, 200, 200, 0.6); }
.sidebar-block {	position:relative; }
.legend { position:relative; display:block; padding:6px; background:rgba(236, 240, 241, 0.6); }
.legend-img { margin-left:72px; min-height:195px; }
.legend-links { position:absolute; left:0; bottom:0;}
.btn-link { display:block; margin:4px 8px 6px; }
.info { background:rgba(189, 195, 202, 0.6); }
.form, .form-row { display:block; clear:both; }
.form-row { padding:6px 8px; }
._btn-group input {
	display:inline-block;
	width:20%;
	float:left;
	clear:none;
	text-align:right;
	border-radius:16px;
}
._ops {
	padding:8px 8px 8px 0;
}
._ops button {
	margin-right:8px;
}
